body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*----------------------------------------------
------------ header section styles----------------- */
header{
    background-color: #2D25A0;
    transition: background-color 4s ease-in-out ;
}
header:hover{
    background-color: rgb(92, 138, 18);
}
.header-container{
    display:flex;
    margin:0 140px;
    padding:80px 0;
    justify-content: center;
    align-items: center;
    line-height: 80px;
}
.header-left-content{
    padding:15px;
    /* width:485px;
    height:230px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.header-left-content h2{
   color: #FFFFFF;
   font-size: 64px;
   margin-bottom: 27px;
   margin-top: 0;
   

}
.button-content{
    display:flex;
    align-items: center;
    justify-content: center;
    width:168px;
    height:44px;
    background-color:#E02C6D;
    cursor: pointer;

}
.button-content p{
    font-weight: 500;
    font-size: 16px;
    color:#ffffff;
    margin: 10px 0;
}
.button-content .fa-arrow-right{
    width:24px;
    height:24px;
    color:#ffffff;
    margin-left: 8px;
}
.header-container img{
    width:556px;
    height:438px;
    margin-left:20px;
}
/* ----------------------------------------
-----------------players section style--------- */
main{
    padding-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0 140px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    background: #FFFFFF;

}
.players-info{
    display: flex;
    flex-direction: column;
    width:300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding:15px;
}
.players-info img{
    width:300px;
    height:256px;
    margin-bottom: 16px;
}
.players-info h3{
    margin-bottom: 10px;
    margin-top: 0;
    color: #18191F;
}
.players-info p{
    margin: 0;
    font-size: 16px;
    line-height: 26px;   
    color: #6C6C6C;
}

/* --------------------------------------------------------
---------------news section styles-------------------------------- */
.news-section{
    text-align: center;
    background-color: #2D25A0;
    padding:20px 0;
    margin: 100px 0;
    
}
.news-section h2{
    font-weight: 700;
    font-size: 50px;
    color:white;
}
.news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    margin:0 100px;
}
.news-info{    
    display: flex;
    flex-direction: column;
    width:300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(22, 21, 21, 0.507);
    padding:15px;
    
}
.news-info h3{
    font-weight: 700;
}
.news-info img{
    width:300px;
    height:256px;
    margin-bottom: 5px;
}
.news-info p{
    margin: 0;
}
/* -------------join club section style---------
----------------------------------------------- */
.join-club{
    display: flex;
    flex-direction: column;
    width:100%;
    height:500px;
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.join-club h3{
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 27px;
    margin-top: 0;
}
.join-club p{
    display:flex;
    align-items: center;
    justify-content: center;
    width:168px;
    height:44px;
    background-color:#E02C6D;
    cursor: pointer;
}
.join-club a{
    color:white;
    text-decoration: none;
}
/* ------------------------------------
--------------footer-------------------*/
footer{
    padding:63px 0;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width:484px;
    
}
.footer-content .logo{
    width:484px;
    height:110px;
}
.footer-icons{
    display: flex;
}
.footer-icons .icon{
    cursor: pointer;
    color: #969BAB;
    width:17px;
    height:17px;
    background:#d6d8e0; 
    margin-right: 14px;
    border-radius: 17px;
    padding: 7px;
    text-align: center;
}
.footer-content p{
    margin-top: 20px;
    color: #000000;
    font-weight: 400;

}

/* --------------------------------------------------------------
----------------------media query for phone device---------------- */

@media screen and (max-width:688px) {
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0;
        line-height: normal;
    }
    .header-left-content{
        display: flex;
        flex-wrap: wrap;
        margin:0;
        justify-content: center;
    }
    .header-container img{
        display: block;
        width:300px;
        height:auto;
        margin:30px;
    }
    .header-left-content h2{
        font-size: 36px;
    }
    .player-section{
        display:flex;
        align-items: center;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    .news{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .news-info{
        margin: auto;
        padding:0;
    }
    .news-section h2{
        font-size: 40px;

    }
    .subscribe{
        padding:100px 0;
        margin:50px 0; 
        border-radius:0px;
    }
    .subscribe p input{
        width:80%;
        padding:20px;
          
    }
   .footer-content{
       width:100%;
       text-align: center;
   }
   .footer-content .logo{
       width:70%;
       
   }
   
}